.first-screen {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;

    & .block-text {
        width: 100%;
        margin: auto;

        & .title {
            font-size: 50px;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            white-space: nowrap;
            margin: 0 auto;
            letter-spacing: .1em; /* Adjust as needed */
            animation: 
              typing 3.5s steps(30, end)
        }
    }
    & .fullscreen-bg__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }