*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --index: calc(1vw + 1vh);
}

a, li {
  text-decoration: none;
  color: #fff;
  list-style: none;
}

body {
  background-color: #000;
  font-family: "04b08", sans-serif;
  color: #fff;
}

@font-face {
  font-family: "04b08";
  src: url("../fonts/04b08.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/04b08.eot?#iefix") format("embedded-opentype"), url("../fonts/04b08.woff2") format("woff2"), url("../fonts/04b08.woff") format("woff"), url("../fonts/04b08.ttf") format("truetype"), url("../fonts/04b08.svg#04b08") format("svg"); /* Chrome < 4, Legacy iOS */
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 105;
}
.header__inner {
  padding: 15px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.header__inner .logo {
  position: relative;
}
.header__inner .logo .logo-img {
  height: 50px;
}
.header__inner .logo .icon-rec {
  position: absolute;
  height: 20px;
  bottom: -10px;
  left: 68px;
  -webkit-animation: flash 5s infinite;
          animation: flash 5s infinite;
}
.header__inner .menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-weight: bold;
}
.header__inner .menu__inner .menu-item a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #1e4be4;
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.main {
  height: 200vh;
  overflow: hidden !important;
}

.first-screen {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
}
.first-screen .block-text {
  width: 100%;
  margin: auto;
}
.first-screen .block-text .title {
  text-align: left;
  font-size: 70px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em; /* Adjust as needed */
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.fullscreen-bg__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  scale: 1.25;
  will-change: scale;
}

.video-small {
  opacity: 0 !important;
}