*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, li {
  text-decoration: none;
  color: #fff;
  list-style: none;
}

body {
  background-color: #000;
  font-family: "04b08", sans-serif;
  color: #fff;
}

@font-face {
  font-family: "04b08";
  src: url("../fonts/04b08.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/04b08.eot?#iefix") format("embedded-opentype"), url("../fonts/04b08.woff2") format("woff2"), url("../fonts/04b08.woff") format("woff"), url("../fonts/04b08.ttf") format("truetype"), url("../fonts/04b08.svg#04b08") format("svg"); /* Chrome < 4, Legacy iOS */
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10S;
}
.header__inner {
  padding: 15px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1440px;
  margin: 0 auto;
}
.header__inner .logo {
  position: relative;
}
.header__inner .logo .logo-img {
  height: 50px;
}
.header__inner .logo .icon-rec {
  position: absolute;
  height: 20px;
  bottom: -10px;
  left: 68px;
  -webkit-animation: flash 5s infinite;
          animation: flash 5s infinite;
}
.header__inner .menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header__inner .menu__inner .menu-item a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #1e4be4;
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.first-screen {
  width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-screen .block-text {
  width: 100%;
  margin: auto;
}
.first-screen .block-text .title {
  font-size: 50px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #1e4be4; /* The typwriter cursor */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em; /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(30, end), blink-caret 0.9s step-end infinite;
          animation: typing 3.5s steps(30, end), blink-caret 0.9s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #1e4be4;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #1e4be4;
  }
}